<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Test Email</h1>
    <p>This is a test email sent from your Rails application.</p>
  </body>
</html>